<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <legend>
        <h1 style="color:blue">Simple Interest Calculator</h1>
        <form method="post">
            <input type="number" step="any"name="p" id="" placeholder="Principal Amount">
            <input type="number" step="any"name="r" id="" placeholder="Rate of Interest">
            <input type="number" step="any"name="t" id="" placeholder="Time">
            <button type="submit">Calculate</button>
        </form>
    </center>
    {% if result %}
            <h2>Result</h2>
            <span>Principal: {{ p }}</span>
            <span>Rate: {{ r }}</span>
            <span>Time: {{ t }}</span>
            <span>
                <b>Simple Interest: {{ result }}</b><br>
                Total Amount: {{ total }}</br>
            </span>    
       
    {% endif %}
            </legend>
</body>
</html>
